* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.light {
  background-color: #f4f6f8;
  color: #222;
  min-height: 100vh;
}

.dark {
  background-color: #121212;
  color: #f5f5f5;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #4f46e5;
  color: white;
}

header button:nth-child(1) {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

header button:nth-child(2) {
  background: white;
  color: #4f46e5;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

input,
select,
button {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
}

form {
  margin: 20px;
  display: flex;
  gap: 10px;
}

div > select,
div > input {
  margin: 10px;
}

ul {
  list-style: none;
  margin: 20px;
  padding: 0;
}

li {
  background: white;
  color: black;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark li {
  background: #1e1e1e;
  color: white;
}

li span {
  flex: 1;
}

li button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  form {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    gap: 10px;
  }
}

.login {
  width: min(300px, 90%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: #12121233 0px 4px 12px;
}

.login > h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.login > label {
  text-align: left;
  margin-bottom: 10px;
  max-width: fit-content;
  text-wrap: initial;
}

.login > input {
  width: 100%;
  margin: 0 0 10px 0;
}

.login > button {
  margin: 1rem 0 0 0;
  background-color: #4f46e5;
  color: white;
  border: none;
}

.login > button:hover {
  background-color: #3730a3;
}

.errorLogin {
  margin-top: 20px;
  text-align: center;
  background-color: #fd5454;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
}

.auth-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}